singularity {
    autoMounts=true
    enabled=true
}

simg = "/archive/code/containers/FMRIPREP_CIFTIFY/tigrlab_fmriprep_ciftify_1.3.0.post2-2.3.1-2019-04-04-8ebe3500bebf.img"
config = "/projects/jjeyachandra/tigrlab_nextflow/ciftify/config/24MP_8Phys_4GSR.json"

profiles {

    //DEFAULT
    standard {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg" 
        params.config = "$config"
    }   

    kimel {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg" 
        params.config = "$config"
    }   

    scc {

        process.executor = "SLURM"
        process.queue = "short"
        params.simg = "/KIMEL/tigrlab/$simg" 
        params.config = "/KIMEL/tigrlab/$config"

    }

    local {
        process.executor = "local"
        params.simg = "$simg" 
        params.config = "$config"

    }


}

process {

    withName: clean_file {
        
        maxRetries = retry_val
        errorStrategy = {task.attempt == retry_val ? "finish" : "retry"}
        clusterOptions = "--time=15:00 --mem-per-cpu=1024 \
         --cpus-per-task=4 --job-name ciftify_cleaning \
         --nodes=1"

        }

}
