singularity {

    autoMounts=true
    enabled=true

}


simg = "/archive/code/containers/FMRIPREP_CIFTIFY/tigrlab_fmriprep_ciftify_1.3.0.post2-2.3.1-2019-04-04-8ebe3500bebf.img"
config = "/projects/jjeyachandra/tigrlab_nextflow/ciftify/config/24MP_8Phys_4GSR.json"

profiles {

    //DEFAULT
    standard {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg" 
        params.config = "$config"
    }   

    kimel {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg" 
        params.config = "$config"
    }   

    scc {

        process.executor = "SLURM"
        process.queue = "long"
        params.simg = "/KIMEL/tigrlab/$simg" 
        params.config = "/KIMEL/tigrlab/$config"

    }

    local {
        process.executor = "local"
        params.simg = "$simg" 
        params.config = "$config"

    }


}
