// Default Parameters

singularity {

    autoMounts=true
    enabled=true

}

params.nii = "data/nii"
params.pipelines = "pipelines/freesurfer"
params.tag_sprlin = "SPRL-IN"
params.tag_sprlout = "SPRL-OUT"
simg = "/projects/jjeyachandra/FeenICS/feenics_initial-2019-07-30-a194002158d6.simg"

profiles {

    //DEFAULT
    standard {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg"

    }

    kimel {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg"

    }

    scc {

        process.executor = "SLURM"
        process.queue = "short"
        params.simg = "/KIMEL/tigrlab/$simg"

    }

    local {

        process.executor = "local"
        params.simg = "$simg"

    }


}

process {

    withName: run_feenics {
        clusterOptions = "--time=1:00:00 --mem-per-cpu=1028\
         --cpus-per-task=4 --job-name feenics_pipeline\
         --nodes=1"
    }

    withName: run_icarus    { executor = "local" }
    withName: gzip_nii      { executor = "local" }
    withName: reorient_bad  { executor = "local" }
}
