// Default Parameters

singularity {

    autoMounts=true
    enabled=true

}


simg = "/archive/code/containers/FEENICS/feenics_v1.0-2019-08-12-80d71890b433.simg"

profiles {

    standard {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg"

    }

    kimel {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg"

    }

   scc {

        process.executor = "SLURM"
        process.queue = "short"
        params.simg = "/KIMEL/tigrlab/$simg"

    }

    local {
        process.executor = "local"
        params.simg = "$simg"
    }

}

params.nii = "data/nii"
params.tag_sprlin = "SPRL-IN"
params.tag_sprlout = "SPRL-OUT"

params.application="feenics"
retry_val = 3
process {

    withName: split_invalid {
        executor = "local"

    }

    withName: run_feenics {

        maxRetries = retry_val
        errorStrategy = { task.attempt == retry_val ? "finish" : "retry" }
        clusterOptions = "--time=2:00:00 --mem-per-cpu=1024\
                    --cpus-per-task=4 --job-name feenics_pipeline\
                    --nodes=1"
    }

    withName: run_icarus {
        executor = "local"
    }
}
