// Default Parameters

singularity {

    autoMounts=true
    enabled=true

}



simg = "/archive/code/containers/FEENICS/feenics_v1.1-2019-08-14-5936924758b2.simg"
params.nii = "data/nii"
params.tag_sprlin = "SPRL-IN"
params.tag_sprlout = "SPRL-OUT"
params.application="feenics"
params.version="v1.1"
params.out="$baseDir"
retry_val = 3

// Report defaults
includeConfig './report_default.nf.config'

profiles {

    standard {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg"

    }

    kimel {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg"

    }

   scc {

        process.executor = "SLURM"
        process.queue = "short"
        params.simg = "/KIMEL/tigrlab/$simg"

    }

    local {
        process.executor = "local"
        params.simg = "$simg"
    }

}


process {

    withName: split_invalid {
        executor = "local"

    }

    withName: run_feenics {

        maxRetries = retry_val
        errorStrategy = { task.attempt == retry_val ? "ignore" : "retry" }
        clusterOptions = "--time=2:00:00 --mem-per-cpu=1024\
                    --cpus-per-task=4 --job-name feenics_pipeline\
                    --nodes=1"
    }


    withName: run_icarus    { executor = "local" }
    withName: gzip_nii      { executor = "local" }

    withName: transfer_preartifact { 
        maxRetries = retry_val
        executor = "local"
        maxForks = 8
    }

    withName: reorient_bad  {

        errorStrategy = { task.attempt == retry_val ? "ignore" : "retry" }
        executor = "local"
    }
}

