
// Default Parameters

singularity {

    autoMounts=true
    enabled=true

}

params.nii = "data/nii"
params.echo1 = "ECHO1"
params.echo2 = "ECHO2"


profiles {

    standard {
        process.executor="SLURM"
        process.queue="high-moby"
    }

    kimel {
        process.executor="SLURM"
        process.queue="high-moby"
    }


    scc {
        process.executor="SLURM"
        process.queue="short"
    }

    local {
        process.exectur="local"
    }

}

process {


    withName: fieldmaps {
        maxRetries = retry_val
        errorStrategy = { task.attempt == retry_val ? "finish" : "retry" }
        clusterOptions = "--time=1:00:00 --mem-per-cpu=1024\
                    --cpus-per-task=4 --job-name feenics_pipeline\
                    --nodes=1"

    }



}
