
// Default Parameters

singularity {

    autoMounts=true
    enabled=true

}

params.nii = "data/nii"
params.echo1 = "ECHO1"
params.echo2 = "ECHO2"
params.application = "fieldmaps"
params.version = "v1.0"
params.out="$baseDir"

includeConfig './report_default.nf.config'

profiles {

    standard {
        process.executor="SLURM"
        process.queue="high-moby"
    }

    kimel {
        process.executor="SLURM"
        process.queue="high-moby"
    }


    scc {
        process.executor="SLURM"
        process.queue="short"
    }

    local {
        process.exectur="local"
    }

}

retry_val = 3
process {

    withName: split_invalid {
        executor="local"

    }

    withName: fieldmaps {
        maxRetries = retry_val
        errorStrategy = { task.attempt == retry_val ? "finish" : "retry" }
        clusterOptions = "--time=1:00:00 --mem-per-cpu=1024\
                    --cpus-per-task=4 --job-name feenics_pipeline\
                    --nodes=1"

    }



}
