
singularity {

    autoMounts=true
    enabled=true

}

// DEFAULT PARAMETERS FOR MRIQC
params.simg = "/archive/code/containers/FMRIPREP/poldracklab_fmriprep_1.4.0-2019-05-15-9de4f068cdcc.simg"
params.invocation = "/projects/jjeyachandra/tigrlab_nextflow/bosh_invoke/fmriprep_invocation.json"
params.descriptor = "/projects/jjeyachandra/tigrlab_nextflow/bosh_invoke/fmriprep.json"
params.work = "/tmp/"
params.application = "FMRIPREP"
params.license="/opt/quarantine/freesurfer/6.0.0/build/"

process {
    withName: run_bids {
        
        executor = "SLURM"
        queue = "high-moby"
        cpus = 4
        memory = '2 GB'
        time = '48h'

    }
}
