
singularity {

    autoMounts=true
    enabled=true

}

// DEFAULT PARAMETERS FOR MRIQC
params.simg = "/archive/code/containers/FMRIPREP_CIFTIFY/tigrlab_fmriprep_ciftify_1.3.0.post2-2.3.1-2019-04-04-8ebe3500bebf.img"
params.invocation = "/projects/jjeyachandra/boutiques_jsons/fmriprep_ciftify_invocation.json"
params.descriptor = "/projects/jjeyachandra/boutiques_jsons/fmriprep_ciftify.json"
params.work = "/tmp/"
params.application = "FMRIPREP_CIFTIFY"
params.license="/opt/quarantine/freesurfer/6.0.0/build/"

process {
    withName: run_bids {
        
        executor = "SLURM"
        queue = "high-moby"
        cpus = 4
        memory = '2 GB'
        time = '48h'

    }
}
