
singularity {

    autoMounts=true
    enabled=true

}

// DEFAULT PARAMETERS FOR MRIQC
params.simg = "/archive/code/containers/FMRIPREP_CIFTIFY/tigrlab_fmriprep_ciftify_1.3.0.post2-2.3.1-2019-04-04-8ebe3500bebf.img"
params.invocation = "/projects/jjeyachandra/boutiques_jsons/default_invocation/fmriprep_ciftify-1.3.0.post2-2.3.1_invocation.json"
params.descriptor = "/projects/jjeyachandra/boutiques_jsons/descriptors/fmriprep_ciftify-1.3.0.post2-2.3.1.json"
params.work = "/tmp/"
params.application = "FMRIPREP_CIFTIFY"
params.license="/opt/quarantine/freesurfer/6.0.0/build/"

process {
    withName: run_bids {
        
        executor = "local"
        errorStrategy = "retry"
        maxErrors = 3
        queue = "low-moby"
        clusterOptions = "--time=24:00:00 --mem-per-cpu=1024 \
         --cpus-per-task=4 --job-name ciftify_pipeline \
         --nodes=1"

    }
}
