
singularity {

    autoMounts=true
    enabled=true

}

// DEFAULT PARAMETERS FOR MRIQC
params.simg = "/archive/code/containers/FMRIPREP/poldracklab_fmriprep_1.3.2-2019-03-18-573e99cc5d39.simg "
params.invocation = "/projects/jjeyachandra/boutiques_jsons/default_invocation/fmriprep_invocation.json"
params.descriptor = "/projects/jjeyachandra/boutiques_jsons/descriptors/fmriprep.json"
params.work = "/tmp/"
params.application = "FMRIPREP"
params.license="/opt/quarantine/freesurfer/6.0.0/build/"

process {
    withName: run_bids {
        
        executor = "SLURM"
        errorStrategy = "retry"
        maxErrors = 3
        queue = "low-moby"
        clusterOptions = "--time=24:00:00 --mem-per-cpu=4096\
         --cpus-per-task=4 --job-name fmriprep_pipeline\
         --nodes=1"

    }
}
