
singularity {

    autoMounts=true
    enabled=true

}

profiles {

    //DEFAULT
    standard {

        process.executor = "SLURM"
        process.queue = "high-moby"
        basedir = ""
        quarantine = "/opt/quarantine/"
    }   

    kimel {

        process.executor = "SLURM"
        process.queue = "high-moby"
        basedir = ""
        quarantine = "/KIMEL/quarantine/"
    }   

    scc {

        process.executor = "SLURM"
        process.queue = "short"
        basedir = "/KIMEL/tigrlab
        quarantine = "/opt/quarantine/"

    }

    local {
        process.executor = "local"
        basedir = ""
        quarantine = "/opt/quarantine/"

    }


}
// DEFAULT PARAMETERS FOR MRIQC
params.simg = "$basedir/archive/code/containers/FMRIPREP_CIFTIFY/tigrlab_fmriprep_ciftify_1.3.0.post2-2.3.1-2019-04-04-8ebe3500bebf.img"
params.invocation = "$basedir/projects/jjeyachandra/boutiques_jsons/default_invocation/fmriprep_ciftify-1.3.0.post2-2.3.1_invocation.json"
params.descriptor = "$basedir/projects/jjeyachandra/boutiques_jsons/descriptors/fmriprep_ciftify-1.3.0.post2-2.3.1.json"
params.application = "FMRIPREP_CIFTIFY"
params.license="$quarantine/freesurfer/6.0.0/build/"

process {
    withName: run_bids {
        
        executor = "local"
        errorStrategy = "retry"
        maxErrors = 3
        queue = "low-moby"
        clusterOptions = "--time=24:00:00 --mem-per-cpu=1024 \
         --cpus-per-task=4 --job-name ciftify_pipeline \
         --nodes=1"

    }
}
