
singularity {

    autoMounts=true
    enabled=true

}

profiles {

    //DEFAULT
    standard {

        process.executor = "SLURM"
        process.queue = "high-moby"
        basedir = ""
        quarantine = "/opt/quarantine/"
    }   

    kimel {

        process.executor = "SLURM"
        process.queue = "high-moby"
        basedir = ""
        quarantine = "/KIMEL/quarantine/"
    }   

    scc {

        process.executor = "SLURM"
        process.queue = "short"
        basedir = "/KIMEL/tigrlab
        quarantine = "/opt/quarantine/"

    }

    local {
        process.executor = "local"
        basedir = ""
        quarantine = "/opt/quarantine/"

    }


}
// DEFAULT PARAMETERS FOR MRIQC
params.simg = "$basedir/archive/code/containers/FMRIPREP/poldracklab_fmriprep_1.3.2-2019-03-18-573e99cc5d39.simg"
params.invocation = "$basedir/projects/jjeyachandra/boutiques_jsons/default_invocation/fmriprep-1.3.2_invocation.json"
params.descriptor = "$basedir/projects/jjeyachandra/boutiques_jsons/descriptors/fmriprep-1.3.2.json"
params.application = "FMRIPREP"
params.license="$quarantine/freesurfer/6.0.0/build/"

process {
    withName: run_bids {
        
        executor = "local"
        errorStrategy = "retry"
        maxErrors = 3
        queue = "low-moby"
        clusterOptions = "--time=24:00:00 --mem-per-cpu=4096\
         --cpus-per-task=4 --job-name fmriprep_pipeline\
         --nodes=1"

    }
}
