
singularity {

    autoMounts=true
    enabled=true

}

simg = "/archive/code/containers/FMRIPREP/poldracklab_fmriprep_1.3.2-2019-03-18-573e99cc5d39.simg"
invocation = "/archive/code/boutiques_jsons/invocations/fmriprep-1.3.2_invocation.json"
descriptor = "/archive/code/boutiques_jsons/descriptors/fmriprep-1.3.2.json"
license="/freesurfer/6.0.0/build/"

profiles {

    //DEFAULT
    standard {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg" 
        params.invocation= "$invocation"
        params.descriptor = "$descriptor"
        params.license = "/opt/quarantine/$license"
    }   

    kimel {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg" 
        params.invocation= "$invocation"
        params.descriptor = "$descriptor"
        params.license = "/opt/quarantine/$license"
    }   

    scc {

        process.executor = "SLURM"
        process.queue = "long"
        params.simg = "/KIMEL/tigrlab/$simg" 
        params.invocation= "/KIMEL/tigrlab/$invocation"
        params.descriptor = "/KIMEL/tigrlab/$descriptor"
        params.license = "/KIMEL/quarantine/$license"

    }

    local {
        process.executor = "local"
        params.simg = "$simg" 
        params.invocation= "$invocation"
        params.descriptor = "$descriptor"
        params.license = "/opt/quarantine/$license"

    }


}

// DEFAULT PARAMETERS FOR MRIQC
params.application = "FMRIPREP"

process {
    withName: run_bids {
        
        maxErrors = 3
        errorStrategy = {task.attempt == task.maxErrors ? "retry" : "ignore"}
        clusterOptions = "--time=24:00:00 --mem-per-cpu=4096\
         --cpus-per-task=4 --job-name fmriprep_pipeline\
         --nodes=1"

    }
}
