
singularity {

    autoMounts=true
    enabled=true

}

// DEFAULT PARAMETERS FOR MRIQC
params.simg = "/archive/code/containers/FREESURFER/bids_freesurfer_latest-2018-08-01-722347ca4718.simg"
params.invocation = "/projects/jjeyachandra/boutiques_jsons/default_invocation/freesurfer_invocation.json"
params.descriptor = "/projects/jjeyachandra/boutiques_jsons/descriptors/freesurfer.json"
params.work = "/tmp/"
params.application = "FREESURFER"
params.license="/opt/quarantine/freesurfer/6.0.0/build/"

process {
    withName: run_bids {

        executor = "SLURM"
        queue = "low-moby"
        clusterOptions = "--time=24:00:00 --mem-per-cpu=2048\
         --cpus-per-task=2 --job-name freesurfer_pipeline\
         --nodes=1"

    }
}
