
singularity {

    autoMounts=true
    enabled=true

}
params.application = "freesurfer"
params.version = '6.0.1_longitudinal'

retry_val=3
simg = "/archive/code/containers/FREESURFER/bids_freesurfer_latest-2018-08-01-722347ca4718.simg"
invocation = "/archive/code/boutiques_jsons/invocations/freesurfer-6.0.1_invocation.json"
descriptor = "/archive/code/boutiques_jsons/descriptors/freesurfer-6.0.1.json"
license="/freesurfer/6.0.0/build/"


profiles {

    //DEFAULT
    standard {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg" 
        params.invocation= "$invocation"
        params.descriptor = "$descriptor"
        params.license = "/opt/quarantine/$license"
    }   

    kimel {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg" 
        params.invocation= "$invocation"
        params.descriptor = "$descriptor"
        params.license = "/opt/quarantine/$license"
    }   

    scc {

        process.executor = "SLURM"
        process.queue = "verylong"
        params.simg = "/KIMEL/tigrlab/$simg" 
        params.invocation= "/KIMEL/tigrlab/$invocation"
        params.descriptor = "/KIMEL/tigrlab/$descriptor"
        params.license = "/KIMEL/quarantine/$license"

    }

    local {
        process.executor = "local"
        params.simg = "$simg" 
        params.invocation= "$invocation"
        params.descriptor = "$descriptor"
        params.license = "/opt/quarantine/$license"

    }


}
includeConfig './report_invocation.nf.config'


process {
    withName: modify_invocation{
        executor = 'local'

    }
    withName: save_invocation { executor = "local" }
    withName: run_bids {

        maxRetries = retry_val
        errorStrategy = {task.attempt == retry_val ? "finish" : "retry"}
        clusterOptions = "--time=64:00:00 --mem-per-cpu=2048\
         --cpus-per-task=2 --job-name freesurfer_pipeline\
         --nodes=1"

    }
}

