
singularity {

    autoMounts=true
    enabled=true

}
profiles {

    //DEFAULT
    standard {

        process.executor = "SLURM"
        process.queue = "high-moby"
        basedir = ""
        quarantine = "/opt/quarantine/"
    }   

    kimel {

        process.executor = "SLURM"
        process.queue = "high-moby"
        basedir = ""
        quarantine = "/KIMEL/quarantine/"
    }   

    scc {

        process.executor = "SLURM"
        process.queue = "short"
        basedir = "/KIMEL/tigrlab
        quarantine = "/opt/quarantine/"

    }

    local {
        process.executor = "local"
        basedir = ""
        quarantine = "/opt/quarantine/"

    }


}

// DEFAULT PARAMETERS FOR MRIQC
params.simg = "$basedir/archive/code/containers/FREESURFER/bids_freesurfer_latest-2018-08-01-722347ca4718.simg"
params.invocation = "$basedir/projects/jjeyachandra/boutiques_jsons/default_invocation/freesurfer-6.0.1_invocation.json"
params.descriptor = "$basedir/projects/jjeyachandra/boutiques_jsons/descriptors/freesurfer-6.0.1.json"
params.application = "FREESURFER"
params.license="$quarantine/freesurfer/6.0.0/build/"

process {
    withName: run_bids {

        executor = "local"
        queue = "low-moby"
        clusterOptions = "--time=24:00:00 --mem-per-cpu=2048\
         --cpus-per-task=2 --job-name freesurfer_pipeline\
         --nodes=1"

    }
}
