
singularity {

    autoMounts=true
    enabled=true

}

// DEFAULT PARAMETERS FOR MRIQC
params.simg = "/archive/code/containers/FREESURFER/bids_freesurfer_latest-2018-08-01-722347ca4718.simg"
params.invocation = "/projects/jjeyachandra/tigrlab_nextflow/bosh_invoke/freesurfer_invocation.json"
params.descriptor = "/projects/jjeyachandra/tigrlab_nextflow/bosh_invoke/freesurfer.json"
params.work = "/tmp/"
params.application = "FREESURFER"
params.license="/opt/quarantine/freesurfer/6.0.0/build/"

process {
    withName: run_bids {
        
        executor = "SLURM"
        queue = "high-moby"
        cpus = 4
        memory = '2 GB'
        time = '24h'

    }
}
