
singularity {

    autoMounts=true
    enabled=true

}



params.application = "HCPPipelines"
params.version = '4.0.0-1'
retry_val=3
simg = "/archive/code/containers/HCPPipelines/hcppipelines_4.0.0-1-2019-11-22-8667b8caa8d4.simg"
invocation = "/archive/code/boutiques_jsons/invocations/hcppipelines-4.0.0-1_invocation.json"
descriptor = "/archive/code/boutiques_jsons/descriptors/hcppipelines-4.0.0-1.json"
license="/freesurfer/6.0.0/build/"


profiles {

    //DEFAULT
    standard {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg" 
        params.invocation= "$invocation"
        params.descriptor = "$descriptor"
        params.license = "/opt/quarantine/$license"
    }   

    kimel {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg" 
        params.invocation= "$invocation"
        params.descriptor = "$descriptor"
        params.license = "/opt/quarantine/$license"
    }   

    scc {

        process.executor = "SLURM"
        process.queue = "long"
        params.simg = "/KIMEL/tigrlab/$simg" 
        params.invocation= "/KIMEL/tigrlab/$invocation"
        params.descriptor = "/KIMEL/tigrlab/$descriptor"
        params.license = "/KIMEL/quarantine/$license"

    }

    local {
        process.executor = "local"
        params.simg = "$simg" 
        params.invocation= "$invocation"
        params.descriptor = "$descriptor"
        params.license = "/opt/quarantine/$license"

    }


}

includeConfig './report_invocation.nf.config'

process {
    withName: modify_invocation{
        executor = 'local'
    }
    withName: save_invocation{ executor = "local" } 
    withName: run_bids {
        
        maxRetries = retry_val
        errorStrategy = {task.attempt == retry_val ? "finish" : "retry"}
        clusterOptions = "--time=48:00:00 --mem-per-cpu=1024 \
         --cpus-per-task=4 --job-name hcppipelines \
         --nodes=1"

    }
}
