singularity {

    autoMounts=true
    enabled=true

}


params.application = "MRIQC"
params.version = '0.14.2'
retry_val = 3
simg = "/archive/code/containers/MRIQC/poldracklab_mriqc_0.14.2-2018-08-21-453030cc5a18.img"
invocation = "/archive/code/boutiques_jsons/invocations/mriqc-0.14.2_invocation.json"
descriptor = "/archive/code/boutiques_jsons/descriptors/mriqc-0.14.2.json"
license="/freesurfer/6.0.0/build/"


profiles {

    //DEFAULT
    standard {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg"
        params.invocation= "$invocation"
        params.descriptor = "$descriptor"
        params.license = "/opt/quarantine/$license"
    }

    kimel {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg"
        params.invocation= "$invocation"
        params.descriptor = "$descriptor"
        params.license = "/opt/quarantine/$license"
    }

    scc {

        process.executor = "SLURM"
        process.queue = "short"
        params.simg = "/KIMEL/tigrlab/$simg"
        params.invocation= "/KIMEL/tigrlab/$invocation"
        params.descriptor = "/KIMEL/tigrlab/$descriptor"
        params.license = "/KIMEL/quarantine/$license"

    }

    local {
        process.executor = "local"
        params.simg = "$simg"
        params.invocation= "$invocation"
        params.descriptor = "$descriptor"
        params.license = "/opt/quarantine/$license"

    }


}

includeConfig './report_invocation.nf.config'

process {
    withName: run_bids {

        maxRetries = retry_val
        errorStrategy = {task.attempt == retry_val ? "finish" : "retry"}
        clusterOptions = "--time=4:00:00 --mem-per-cpu=2048\
         --cpus-per-task=4 --job-name mriqc_pipeline\
         --nodes=1"


    }

    withName: modify_invocation {

        executor = "local"

    }

    withName: save_invocation { executor="local" }
}
