
singularity {

    autoMounts=true
    enabled=true

}
profiles {

    //DEFAULT
    standard {

        process.executor = "SLURM"
        process.queue = "high-moby"
        basedir = ""
        quarantine = "/opt/quarantine/"
    }   

    kimel {

        process.executor = "SLURM"
        process.queue = "high-moby"
        basedir = ""
        quarantine = "/KIMEL/quarantine/"
    }   

    scc {

        process.executor = "SLURM"
        process.queue = "short"
        basedir = "/KIMEL/tigrlab
        quarantine = "/opt/quarantine/"

    }

    local {
        process.executor = "local"
        basedir = ""
        quarantine = "/opt/quarantine/"

    }


}

// DEFAULT PARAMETERS FOR MRIQC
params.simg = "$basedir/archive/code/containers/MRIQC/poldracklab_mriqc_0.14.2-2018-08-21-453030cc5a18.img"
params.invocation = "$basedir/projects/jjeyachandra/boutiques_jsons/default_invocation/mriqc-0.14.2_invocation.json"
params.descriptor = "$basedir/projects/jjeyachandra/boutiques_jsons/descriptors/mriqc-0.14.2.json"
params.application = "MRIQC"
params.license="$quarantine/freesurfer/6.0.0/build/"

process {
    withName: run_bids {
        
        
        errorStrategy = "retry"
        maxErrors = 3
        executor = "local"
        queue = "low-moby"
        clusterOptions = "--time=4:00:00 --mem-per-cpu=2048\
         --cpus-per-task=4 --job-name mriqc_pipeline\
         --nodes=1"
                

    }
}
