// DEFAULT INVOCATION REPORT SPECIFICATION
import java.text.SimpleDateFormat

def invoke_file = new File("$params.invocation").getName().replace("_invocation.json","")
def date = new Date()
sdf = new SimpleDateFormat("yyyy-MM-dd")
report.enabled = true
report.file = "${params.out}/${invoke_file}_${sdf.format(date)}.html"
